body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #00bcd4;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}
.section-title {
    color: #0d6efd;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}
.graph-container {
    display: flex;
    justify-content: space-around;
    background-color: #eef3f7;
    padding: 20px;
    border-radius: 8px;
    flex-wrap: wrap;
}
.graph {
    width: 45%;
    min-width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}
.stages-container {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.accordion-button::after {
    font-size: 1.25rem;
    color: #00bcd4;
}
/* Footer Styles */
.footer {
    background-color: #00bcd4;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px; /* Add space above the footer */
}